# Python virtual environments
venv/
venv*/

# Pythonキャッシュ
__pycache__/
*.pyc

# 学習済みモデル・重いファイル
*.pkl
*.pt
*.whl
*.tar.gz

registered_images
uploaded_images

# ローカルデータベース
local_dev.db



# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# ログファイル
*.log




