# Python virtual environments
venv/
venv*/ 
*.pyc
__pycache__/


# Pythonキャッシュ
__pycache__/
*.pyc

# 学習済みモデル・重いファイル
*.pkl
*.pt
*.whl
*.tar.gz

# AI画像フォルダ
registered_images/
uploaded_images/

echo "venv311/" >> .gitignore




